.stories
  .stories-article  
    %a
      .story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/3246/large/ee727c078123a36fa58f6e997effc039df4127f4.jpg?1496739397")
    %strong 働き方のスタンダードはこう作られる。“やらない”を徹底したカオナビのビジネス戦略
    %p 株式会社カオナビ
  .stories-article
    %a
      .story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/3231/large/ad4e3976e7619c5414ddafa97466d37f5c06208e.jpg?1496478482")
    %strong デジタル時代の“次なる一手”、トランスコスモスが独自に開発するDECサービスとは？
    %p トランスコスモス株式会社
  .stories-article
    %a
      .story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/3144/large/dd386fa222ce18c80c7e4e8191803f9c88bfdd0e.jpg?1495155867")
    %strong 決済業務を委託し顧客数が200%成長！ 飲食店向け鮮魚仕入れサービス「魚ポチ」の急成長
    %p 株式会社ネットプロテクションズ
  .stories-article
    %a
      .story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/3203/large/be2a8692e7ce51d36f576d2cf1348d53db4d7952.png?1496296100")
    %strong 中小・ベンチャー企業とともに成長する喜びこそが原動力——ソウルドアウトはいかにして生まれたか
    %p ソウルドアウト株式会社
  .stories-article
    %a
      .story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/3213/large/d134f61e7bddcc60fcbc4c54e52beee9ddc80047.jpg?1496321609")
    %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
    %p 株式会社BOLBOP
  .stories-article
    %a
      .story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/3222/large/dab1c5627cce3fcd44617b05d18af05055729b2b.JPG?1496392483")
    %strong シリコンバレーやアジアからの参加からも！ Onlabは世界の起業家とともに未来を創る
    %p　Open Network Lab
  .stories-article
    %a
      .story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/2941/large/ff7885d2e047a4c951ccc90a19f3e402a67c840a.JPG?1492131197")
    %strong お店づくりのプロ「ストア・エキスプレス」が、顧客満足度を向上させられた理由
    %p 株式会社ネットプロテクションズ
  .stories-article
    %a
      .story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/3188/large/c2288ee7dc6b49361f63fbc0289999ea8549529b.jpg?1496132909")
    %strong 48時間1本勝負の“弾丸トラベル採用”！——台湾人採用に乗り出す日系企業に迫る
    %p 株式会社ネオキャリア
  .stories-article
    %a
      .story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/3196/large/0c04ec9a2c53b89c306e3bc84d57935c329171eb.jpg?1496189199")
    %strong 仕事もプライベートも、お金では買えない幸せを求めて――「PERSOL」で働く社員の“本音”
    %p PERSOLグループ
  .stories-article
    %a
      .story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/3139/large/f4216c0f27f72df09db1e5e0364fe26d5e89fab5.jpg?1495009037")
    %strong　育児と仕事の両立のために。あえて選んだマネージャーの道
    %p エン・ジャパン株式会社
  .stories-article
    %a
      .story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/3156/large/b8870752be3d3ab60fa10f073b876fb7fc6e3753.jpg?1495413567")
    %strong 「言葉と映像」を研ぎ澄ますーー新世代CMプランナーが考えるコミュニケーションの根幹
    %p 電通報
  .stories-article
    %a
      .story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/3187/large/a65674809324e1b641752bdf756b7f6e7a75aac2.png?1495975113")
    %strong おいしいだけじゃないーーウェブコンサル企業が導入した“食”にまつわる取り組みとは
    %p 株式会社ペンシル
  .stories-article
    %a
      .story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/3181/large/d938f67abf1779dcf24d63d6b490ef665d20d9a3.JPG?1495699480")
    %strong “日本一のお花見”が楽しめる場所は北海道にある───桜と共に歴史を重ねる、松前町のあゆみ
    %p 松前町
  .stories-article
    %a
      .story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/3179/large/8c9dcb93bdb2f0656710b80f1de7c65419d6fbe1.jpg?1495685947")
    %strong 会社員にこそ、「新しい働き方」を叶えてほしい―――三井不動産の新たな挑戦
    %p 三井不動産株式会社
  .stories-article
    %a
      .story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/3162/large/d5c33c7efaf6207fbda4bced57d9866a242470a1.JPG?1495528484")
    %strong 入社1年目で海外拠点立ち上げに抜擢ーー企業に属さないはずだった彼を駆り立てた挑戦心
    %p 株式会社ベネフィット・ワン
.more
  %aa 
    %i.fa.fa-chevron-circle-right
      新着ストーリー一覧