.side-stories
  %h2 注目ストーリー
  .side-wrap
    %article
      .side-story-image
        = image_tag("https://www.pr-table.com/upimgs/story_images/1890/large/d527383b6e118ca7a377701e9312f6dd297e8210.jpg?1479378451")
      .story-info
        %h4 日本の起業家が世界へ羽ばたく支援をーーOpen Network Lab創設者の想い
        %h5 ㈱carity
    %article
      .side-story-image
        = image_tag("https://www.pr-table.com/upimgs/profile_images/676/medium/34ba914c2f32e561c9567b4089d1f77dd62bfebb.jpg?1487317905")
      .story-info
        %h4 留学といえばTHE RYUGAKU！曖昧ワードで検索する、あなたに届けたい記事
        %h5 アブログ合同会社
    %article 
      .side-story-image
        = image_tag("https://www.pr-table.com/upimgs/profile_images/237/medium/75c4cff6d373a2e973cf86b37080bc4932fc1f4a.gif?1458117841")
      .story-info
        %h4 教育を通して、介護職員が喜んで働けるようになる仕掛け
        %h5 ユアブライト株式会社
.side-tags
  %h6　おすすめトピック
  .under-side-wrap
    %ul
      %li　士業
      %li　周年記念
      %li　元クックパッド   
      %li　創業秘話
      %li　東京五輪2020
      %li　IPO 
      %li　ユーザー事例
      %li　ピッチイベント
      %li　IoT
      %li　研究開発
      %li　オフィス
      %li　兄弟
      %li　東大卒ベンチャー  
      %li　CSR・社会貢献活動
      %li　キャリア
      %li　ベンチャー
  .side-more 
    %h7 <　トピック一覧
.side-companylist
  %h8 ストーリー掲載企業
  .story-side-wrap
    %h9
      .img
        = image_tag("https://www.pr-table.com/upimgs/profile_images/615/medium/07091e85425d32453291e81114b0cd2d6790a5c2.jpeg?1484300684")
      %figcaption Open Network Lab
    %h9
      .img
        = image_tag("https://www.pr-table.com/upimgs/profile_images/224/medium/3bf36ec8333fdbf7b82d9b281b9dd7f0997d9c04.jpeg?1456289251")
      %figcaption  株式会社リクルートキャリア
    %h9
      .img
        = image_tag("https://www.pr-table.com/upimgs/profile_images/14/medium/ddb0ab26b00828a372b7c1dfc760628c5f64858d.png?1442299254")
      %figcaption コトバンク
    %h9
      .img
        = image_tag("https://www.pr-table.com/upimgs/profile_images/260/medium/59f9fc8c6da8fa528e288327258d12d8b745a6e7.PNG?1461058454")
      %figcaption 株式会社アールナイン
    %h9
      .img
        = image_tag("https://www.pr-table.com/upimgs/profile_images/177/medium/27bf8ef793138166b3c2fa892708ab330e93102f.png?1453690727")
      %figcaption 株式会社BEC
  .side-more 
    %h7 <　ストーリー掲載企業一覧
.side-banner
  = image_tag("https://www.pr-table.com/assets/side_banner.gif")