.body
  .header
    = render partial: 'header'
  .p-stories
    = render partial: 'pickups'
  .container
    .left-contents
      = render partial: 'leftcont'
    .side-contents
      = render partial: 'sidecont'
  .footer-wrapper
    = render partial: 'footer'
  