.body
  .header
    .global-header
      .logo PR TABLE
      .g-nav
        %ul
          %li 新着一覧
          %li　PRTABLEとは
      .buttons
        .create ストーリーを作成
        .login ログイン/新規登録
        .search
          %i.fa.fa-cog
  .p-stories
    .pickup-2stories
      .story1
        = image_tag("https://www.pr-table.com/upimgs/story_images/3109/large/945dfe1db25c33b42f16a8496ecc8b6f00e15202.jpg?1494579036")
      .story2
        = image_tag("https://www.pr-table.com/upimgs/story_images/3106/large/689b52f92860738afb539a06de20a16ce1d5d639.jpg?1494494571")
  .container
    .left-contents
      .stories
        .stories-article
          %a
            .story-image
              = image_tag("https://d13xjf6056yhmz.cloudfront.net/228441/f0093e59ec4e2eeae31e7bb4eb5a8c60_2016-03-23.png/show?1458719492")
          %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
          %p 株式会社BOLBOP
        .stories-article
          %a
            .story-image
              = image_tag("https://d13xjf6056yhmz.cloudfront.net/228441/f0093e59ec4e2eeae31e7bb4eb5a8c60_2016-03-23.png/show?1458719492")
          %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
          %p 株式会社BOLBOP
        .stories-article
          %a
            .story-image
              = image_tag("https://d13xjf6056yhmz.cloudfront.net/228441/f0093e59ec4e2eeae31e7bb4eb5a8c60_2016-03-23.png/show?1458719492")
          %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
          %p 株式会社BOLBOP
        .stories-article
          %a
            .story-image
              = image_tag("https://d13xjf6056yhmz.cloudfront.net/228441/f0093e59ec4e2eeae31e7bb4eb5a8c60_2016-03-23.png/show?1458719492")
          %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
          %p 株式会社BOLBOP
        .stories-article
          %a
            .story-image
              = image_tag("https://d13xjf6056yhmz.cloudfront.net/228441/f0093e59ec4e2eeae31e7bb4eb5a8c60_2016-03-23.png/show?1458719492")
          %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
          %p 株式会社BOLBOP
        .stories-article
          %a
            .story-image
              = image_tag("https://d13xjf6056yhmz.cloudfront.net/228441/f0093e59ec4e2eeae31e7bb4eb5a8c60_2016-03-23.png/show?1458719492")
          %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
          %p 株式会社BOLBOP
        .stories-article
          %a
            .story-image
              = image_tag("https://d13xjf6056yhmz.cloudfront.net/228441/f0093e59ec4e2eeae31e7bb4eb5a8c60_2016-03-23.png/show?1458719492")
          %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
          %p 株式会社BOLBOP
        .stories-article
          %a
            .story-image
              = image_tag("https://d13xjf6056yhmz.cloudfront.net/228441/f0093e59ec4e2eeae31e7bb4eb5a8c60_2016-03-23.png/show?1458719492")
          %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
          %p 株式会社BOLBOP
        .stories-article
          %a
            .story-image
              = image_tag("https://d13xjf6056yhmz.cloudfront.net/228441/f0093e59ec4e2eeae31e7bb4eb5a8c60_2016-03-23.png/show?1458719492")
          %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
          %p 株式会社BOLBOP
        .stories-article
          %a
            .story-image
              = image_tag("https://d13xjf6056yhmz.cloudfront.net/228441/f0093e59ec4e2eeae31e7bb4eb5a8c60_2016-03-23.png/show?1458719492")
          %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
          %p 株式会社BOLBOP
        .stories-article
          %a
            .story-image
              = image_tag("https://d13xjf6056yhmz.cloudfront.net/228441/f0093e59ec4e2eeae31e7bb4eb5a8c60_2016-03-23.png/show?1458719492")
          %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
          %p 株式会社BOLBOP
        .stories-article
          %a
            .story-image
              = image_tag("https://d13xjf6056yhmz.cloudfront.net/228441/f0093e59ec4e2eeae31e7bb4eb5a8c60_2016-03-23.png/show?1458719492")
          %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
          %p 株式会社BOLBOP
        .stories-article
          %a
            .story-image
              = image_tag("https://d13xjf6056yhmz.cloudfront.net/228441/f0093e59ec4e2eeae31e7bb4eb5a8c60_2016-03-23.png/show?1458719492")
          %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
          %p 株式会社BOLBOP
        .stories-article
          %a
            .story-image
              = image_tag("https://d13xjf6056yhmz.cloudfront.net/228441/f0093e59ec4e2eeae31e7bb4eb5a8c60_2016-03-23.png/show?1458719492")
          %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
          %p 株式会社BOLBOP
        .stories-article
          %a
            .story-image
              = image_tag("https://d13xjf6056yhmz.cloudfront.net/228441/f0093e59ec4e2eeae31e7bb4eb5a8c60_2016-03-23.png/show?1458719492")
          %strong 「世の中に、自分らしく生きる人を増やしたい」BOLBOP創業ストーリー
          %p 株式会社BOLBOP


        


      .more
    .side-contents
      .side-stories
      .side-tags
      .side-companylist
      .side-banner

  .footer-wrapper
  